<section id="sub-section" class="level2">
<h2>
<span class="header-section-number">2.1</span> Sub-section</h2>
<p>When creating the website, each section is on its own page up to four levels deep. If you have sections deeper than that, they will be included on an ancestor’s page.</p>

</section>