<section id="blockquotes" class="level2">
<h2>
<span class="header-section-number">1.8</span> Blockquotes</h2>
<p>Here’s a blockquote:</p>
<blockquote>
<p>Here’s a quote with a list.</p>
<ol type="1">
<li>Item 1</li>
<li>Item 2</li>
</ol>
</blockquote>
</section>