<section id="sec:citations" class="level2">
<h2>
<span class="header-section-number">1.6</span> Citations</h2>
<p>Citations to articles, books, and other materials are handled by BibTeX, and your .bibtex file should be stored in <code>support/sample-book.bibtex</code>. If you want to change the name of your BibTeX file you will need to change <code>Makefile</code>.</p>
<p>You can make inline citiations like this: <span class="citation" data-cites="anscombe_graphs_1973" data-ref-id='["#ref-anscombe_graphs_1973"]' data-ref-html='
&lt;p&gt;Anscombe, F. J. 1973. “Graphs in Statistical Analysis.” &lt;em&gt;The American Statistician&lt;/em&gt; 27 (1): 17–21. &lt;a href="https://doi.org/10.2307/2682899" class="uri"&gt;https://doi.org/10.2307/2682899&lt;/a&gt;.&lt;/p&gt;
'>Anscombe (1973)</span>. And, you can have citations come at the end of a sentence <span class="citation" data-cites="anscombe_graphs_1973" data-ref-id='["#ref-anscombe_graphs_1973"]' data-ref-html='
&lt;p&gt;Anscombe, F. J. 1973. “Graphs in Statistical Analysis.” &lt;em&gt;The American Statistician&lt;/em&gt; 27 (1): 17–21. &lt;a href="https://doi.org/10.2307/2682899" class="uri"&gt;https://doi.org/10.2307/2682899&lt;/a&gt;.&lt;/p&gt;
'>(Anscombe 1973)</span>. For more on citation see the pandoc documentation: http://pandoc.org/.</p>
</section>