<section id="sec:cross-ref" class="level2">
<h2>
<span class="header-section-number">1.9</span> Cross referencing</h2>
<p>Cross references like the ones in the sections above are handled by pandoc-crossref. You can read more about that software and its syntax at https://github.com/lierdakil/pandoc-crossref.</p>
</section>