<section id="sec:equations" class="level2">
<h2>
<span class="header-section-number">1.5</span> Equations</h2>
<p>When <span class="math inline">\(a \ne 0\)</span>, there are two solutions to <span class="math inline">\(ax^2 + bx + c = 0\)</span> and they are</p>
<p><span id="eq:quad"><span class="math display">\[x = {-b \pm \sqrt{b^2-4ac} \over 2a}\qquad(1.1)\]</span></span></p>
<p>This paragraph does not have any formulas but should render the dollar sign properly in $5 and $10.</p>
</section>