<section id="sec:figures" class="level2">
<h2>
<span class="header-section-number">1.4</span> Figures</h2>
<p>Any figures for your book should be added to the <code>figures/</code> directory.</p>
<p>Figure 1.1 shows Anscomb’s quartet which was first proposed in <span class="citation" data-cites="anscombe_graphs_1973" data-ref-id='["#ref-anscombe_graphs_1973"]' data-ref-html='
&lt;p&gt;Anscombe, F. J. 1973. “Graphs in Statistical Analysis.” &lt;em&gt;The American Statistician&lt;/em&gt; 27 (1): 17–21. &lt;a href="https://doi.org/10.2307/2682899" class="uri"&gt;https://doi.org/10.2307/2682899&lt;/a&gt;.&lt;/p&gt;
'>Anscombe (1973)</span>.</p>
<figure>
<img src="figures/anscombes_quartet.png" alt="Figure 1.1: Anscombe’s Quartet, which was first proposed in Anscombe (1973). Image created by “Schultz” and used under a Creative Commons license." id="fig:anscombe"><figcaption>Figure 1.1: Anscombe’s Quartet, which was first proposed in <span class="citation" data-cites="anscombe_graphs_1973" data-ref-id='["#ref-anscombe_graphs_1973"]' data-ref-html='
&lt;p&gt;Anscombe, F. J. 1973. “Graphs in Statistical Analysis.” &lt;em&gt;The American Statistician&lt;/em&gt; 27 (1): 17–21. &lt;a href="https://doi.org/10.2307/2682899" class="uri"&gt;https://doi.org/10.2307/2682899&lt;/a&gt;.&lt;/p&gt;
'>Anscombe (1973)</span>. Image created by “Schultz” and used under a <a href="https://commons.wikimedia.org/wiki/File:Anscombe%27s_quartet_3.svg">Creative Commons license</a>.</figcaption>
</figure>
<figure>
<img src="figures/duchamp_fountain.png" alt="Figure 1.2: Fountain by Marcel Duchamp. Fountain is an example of a Readymade, where an artist sees something that already exists in the world then creatively repurposes it for art. Photo of Fountain by Alfred Stiglitz, 1917 (Source: Wikimedia Commons)." id="fig:readymade_custommade"><figcaption>Figure 1.2: <em>Fountain</em> by Marcel Duchamp. <em>Fountain</em> is an example of a Readymade, where an artist sees something that already exists in the world then creatively repurposes it for art. Photo of <em>Fountain</em> by Alfred Stiglitz, 1917 (Source: <a href="https://commons.wikimedia.org/wiki/File:Duchamp_Fountaine.jpg">Wikimedia Commons</a>).</figcaption>
</figure>
</section>