<section id="footnotes" class="level2">
<h2>
<span class="header-section-number">1.7</span> Footnotes</h2>
<p>Here is a footnote reference,<a href="#fn1" class="footnote-ref" id="fnref1" data-ref-html="&lt;p&gt;Here is the footnote.&lt;/p&gt;"><sup>1</sup></a> and another.<a href="#fn2" class="footnote-ref" id="fnref2" data-ref-html="&lt;p&gt;Here’s one with multiple blocks.&lt;/p&gt;
&lt;p&gt;Subsequent paragraphs are indented to show that they belong to the previous footnote.&lt;/p&gt;
&lt;p&gt;The whole paragraph can be indented, or just the first line. In this way, multi-paragraph footnotes work like multi-paragraph list items.&lt;/p&gt;"><sup>2</sup></a></p>
<p>This paragraph won’t be part of the note, because it isn’t indented.</p>
</section>