<section id="mini-table-of-contents" class="level2">
<h2>
<span class="header-section-number">1.1</span> Mini Table of Contents</h2>
<p>The mini table of contents that you see in the PDF is created by adding <code>\minitoc</code> to the markdown file after the header for the chapter.</p>
</section>