<section id="sec:tables" class="level2">
<h2>
<span class="header-section-number">1.2</span> Tables</h2>
<p>You can create tables in your markdown files, and you can reference Table 1.1 from the text. For more on references see Section 1.9.</p>
<div id="tbl:example_table">
<table>
<caption>Table 1.1: Caption of example table.</caption>
<thead>
<tr class="header">
<th>Header #1</th>
<th>Header #2</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>data</td>
<td>more data</td>
</tr>
<tr class="even">
<td>data 2</td>
<td>more data 2</td>
</tr>
</tbody>
</table>
</div>
</section>