<section id="about-the-author" class="level1">
<h1>
<span class="header-section-number">1</span> About the author</h1>
<p><strong>Cheng-Jun Wang</strong> is currently an associate professor in the <code>School of Journalism and Communication, Nanjing University</code>. He is the director of <strong>Ogilvy Data Science Lab</strong>, the associate director of <strong>Computational Communication Collaboratory</strong>, and a research member of Web Mining Lab. His research on computational communication appears in both SSCI and SCI indexed journals, such as Scientific Reports, PloS ONE, Physica A, Cyberpsychology. In 2014, He founded the <a href="https://computational-communication.com">website of computational communication</a>.</p>

</section>