<section id="acknowledgements" class="level1 unnumbered">
<h1>Acknowledgements</h1>

<p>I would like to thank everyone who made this book possible. First, this book is powered by <a href="https://github.com/open-review-toolkit/open-review-toolkit">open review toolkit</a>. Second, this book is inspired by Matthew J. Salganik and his book titled <a href="https://www.bitbybitbook.com/">Bit By Bit: Social Research in the Digital Age</a>.</p>
</section>