<section id="references" class="level1 unnumbered">
<h1>References</h1>
<div id="refs" class="references">
<div id="ref-anscombe_graphs_1973">
<p>Anscombe, F. J. 1973. “Graphs in Statistical Analysis.” <em>The American Statistician</em> 27 (1): 17–21. <a href="https://doi.org/10.2307/2682899" class="uri">https://doi.org/10.2307/2682899</a>.</p>
</div>
</div>
</section>